@import url('https://fonts.googleapis.com/css2?family=Yantramanav&display=swap');

* {
    margin: 0;
    padding: 0;
    transition: 0.4s all;
    box-sizing: border-box;
    font-family: 'Yantramanav', sans-serif;
}

:root {
    --color: #03265b;
    --yellow: #e5912f;
    --black: black;
    --white: white;
    --gray: #cecece;

}

.custom-about{
    display: flex;
    justify-content:center;
    width:100%;
    height: auto;
    gap:35px;

}

.custom-about-1{
    width:40%;
    height: auto;
}
.custom-about-1 img{
    width:100%;
    height:550px;
    object-fit: cover;
}

.about-4{
    margin-top:25px;
}

.custom-about-1 h4{
    color:var(--yellow);
    font-size:18px;
    font-weight:600;
}
.custom-about-1 h3{
    font-size:40px;
    color: var(--color);
    font-weight: 600;
}

.custom-about-1 h3 span{
    color:var(--yellow);
    font-weight: 600;
}
.custom-about-1 h5{
    color:var(--color);
    font-weight:500;
}
.custom-about-1 p{
   color:#7a7a7a;
}







@media screen and (max-width:320px){

     
.custom-about{
    display: flex;
    flex-direction: column;
    justify-content:center;
    width:100%;
    height: auto;
    gap:0px;
    margin-top: 40px;
    padding:4%;

}

.custom-about-1{
    width:100%;
    height: auto;
}
.custom-about-1 img{
    width:100%;
    height:250px;
    object-fit: cover;
}

.about-4{
    margin-top:25px;
}

.custom-about-1 h4{
    color:var(--yellow);
    font-size:18px;
    font-weight:600;
}
.custom-about-1 h3{
    font-size:30px;
    color: var(--color);
    font-weight: 600;
}

.custom-about-1 h3 span{
    color:var(--yellow);
    font-weight: 600;
}
.custom-about-1 h5{
    color:var(--color);
    font-weight:500;
}
.custom-about-1 p{
   color:#7a7a7a;
}



}

@media screen and (min-width:321px) and (max-width:375px){

     
.custom-about{
    display: flex;
    flex-direction: column;
    justify-content:center;
    width:100%;
    height: auto;
    gap:0px;
    margin-top: 40px;
    padding:4%;

}

.custom-about-1{
    width:100%;
    height: auto;
}
.custom-about-1 img{
    width:100%;
    height:250px;
    object-fit: cover;
}

.about-4{
    margin-top:25px;
}

.custom-about-1 h4{
    color:var(--yellow);
    font-size:18px;
    font-weight:600;
}
.custom-about-1 h3{
    font-size:30px;
    color: var(--color);
    font-weight: 600;
}

.custom-about-1 h3 span{
    color:var(--yellow);
    font-weight: 600;
}
.custom-about-1 h5{
    color:var(--color);
    font-weight:500;
}
.custom-about-1 p{
   color:#7a7a7a;
}




}

@media screen and (min-width:376px) and (max-width:425px){

     
.custom-about{
    display: flex;
    flex-direction: column;
    justify-content:center;
    width:100%;
    height: auto;
    gap:0px;
    margin-top: 40px;
    padding:4%;

}

.custom-about-1{
    width:100%;
    height: auto;
}
.custom-about-1 img{
    width:100%;
    height:250px;
    object-fit: cover;
}

.about-4{
    margin-top:25px;
}

.custom-about-1 h4{
    color:var(--yellow);
    font-size:18px;
    font-weight:600;
}
.custom-about-1 h3{
    font-size:30px;
    color: var(--color);
    font-weight: 600;
}

.custom-about-1 h3 span{
    color:var(--yellow);
    font-weight: 600;
}
.custom-about-1 h5{
    color:var(--color);
    font-weight:500;
}
.custom-about-1 p{
   color:#7a7a7a;
}




}

@media screen and (min-width:426px) and (max-width:600px){

  
.custom-about{
    display: flex;
    flex-direction: column;
    justify-content:center;
    width:100%;
    height: auto;
    gap:0px;
    margin-top: 40px;
    padding:4%;

}

.custom-about-1{
    width:100%;
    height: auto;
}
.custom-about-1 img{
    width:100%;
    height:250px;
    object-fit: cover;
}

.about-4{
    margin-top:25px;
}

.custom-about-1 h4{
    color:var(--yellow);
    font-size:18px;
    font-weight:600;
}
.custom-about-1 h3{
    font-size:30px;
    color: var(--color);
    font-weight: 600;
}

.custom-about-1 h3 span{
    color:var(--yellow);
    font-weight: 600;
}
.custom-about-1 h5{
    color:var(--color);
    font-weight:500;
}
.custom-about-1 p{
   color:#7a7a7a;
}


}

@media screen and (min-width:601px) and (max-width:768px){

   
.custom-about{
    display: flex;
    flex-direction: column;
    justify-content:center;
    width:100%;
    height: auto;
    gap:0px;
    margin-top: 40px;
    padding:4%;

}

.custom-about-1{
    width:100%;
    height: auto;
}
.custom-about-1 img{
    width:100%;
    height:350px;
    object-fit: cover;
}

.about-4{
    margin-top:25px;
}

.custom-about-1 h4{
    color:var(--yellow);
    font-size:18px;
    font-weight:600;
}
.custom-about-1 h3{
    font-size:30px;
    color: var(--color);
    font-weight: 600;
}

.custom-about-1 h3 span{
    color:var(--yellow);
    font-weight: 600;
}
.custom-about-1 h5{
    color:var(--color);
    font-weight:500;
}
.custom-about-1 p{
   color:#7a7a7a;
}









}
@media screen and (min-width:769px) and (max-width:900px){


    .custom-about{
        display: flex;
        flex-direction: column;
        justify-content:center;
        width:100%;
        height: auto;
        gap:0px;
        margin-top: 40px;
        padding:4%;
    
    }
    
    .custom-about-1{
        width:100%;
        height: auto;
    }
    .custom-about-1 img{
        width:100%;
        height:350px;
        object-fit: cover;
    }
    
    .about-4{
        margin-top:25px;
    }
    
    .custom-about-1 h4{
        color:var(--yellow);
        font-size:18px;
        font-weight:600;
    }
    .custom-about-1 h3{
        font-size:30px;
        color: var(--color);
        font-weight: 600;
    }
    
    .custom-about-1 h3 span{
        color:var(--yellow);
        font-weight: 600;
    }
    .custom-about-1 h5{
        color:var(--color);
        font-weight:700;
    }
    .custom-about-1 p{
       color:#7a7a7a;
    }
    
    



}

@media screen and (min-width:901px) and (max-width:992px){
   
    
    .custom-about{
        display: flex;
        flex-direction: column;
        justify-content:center;
        width:100%;
        height: auto;
        gap:0px;
        margin-top: 40px;
        padding:4%;
    
    }
    
    .custom-about-1{
        width:100%;
        height: auto;
    }
    .custom-about-1 img{
        width:100%;
        height:350px;
        object-fit: cover;
    }
    
    .about-4{
        margin-top:25px;
    }
    
    .custom-about-1 h4{
        color:var(--yellow);
        font-size:18px;
        font-weight:600;
    }
    .custom-about-1 h3{
        font-size:30px;
        color: var(--color);
        font-weight: 600;
    }
    
    .custom-about-1 h3 span{
        color:var(--yellow);
        font-weight: 600;
    }
    .custom-about-1 h5{
        color:var(--color);
        font-weight:500;
    }
    .custom-about-1 p{
       color:#7a7a7a;
    }
    
    


  


}